*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    font-size: 19px;
	background-image: url("../img/7.jpg");
	background-attachment: fixed;
	opacity: 0.98;
}

body.lock {
  overflow: hidden;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/*Заголовки*/
.main-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.second-title {
    margin: 50px 0 20px;
	padding: 10px;
	color: #fff;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
	background-color: #724d55;
	border-radius: 10px;
}

.third-title {
    margin: 10px 0 10px 50px;
    font-size: 30px;
    font-weight: bold;
	background-color: #F5F5FF;
	border-bottom: 3px dashed #485173;
}

/*Текст*/
.text {
    text-indent: 1.5em;
    line-height: 28px;
}

@media (max-width: 991px) {
	.main-title {
		font-size: 25px;
	}
}

@media (max-width: 767px) {
	.main-title {
		font-size: 20px;
	}
}

/*Header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    background-color:#724d55;
    box-shadow: 0 0 5px black;
}

.header .container {
	position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__icon {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: flex;
	align-items: center;
	height: 50px;
}

.header__icon img {
	height: 100%;
}

.header__icon p {
	color: #fff;
}

.header__title {
    padding: 5px 10px;
    background-color: #F5F5FF;
	border: 1px dotted #5e984c;
    border-radius: 20px;
}

.navigation__list {
    display: flex;
    list-style: none;
}

.navigation__item {
    margin: 0 5px;
    padding: 15px;
    transition: all .3s ease;
}

.navigation__item:hover {
    background-color: rgba(255, 255, 255, .2);
    text-shadow: 1px 1px 1px black;
}

.navigation__link {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 991px) {
	.header__icon {
		height: 30px;
	}
}

@media (max-width: 767px) {
	.navigation__item {
		margin: 0 2px;
		padding: 10px;
	}
	
	.navigation__link {
		font-size: 18px;
	}
}

@media (max-width: 575px) {
	.header {
		height: 90px;
	}
	
	.header .container {
		flex-direction: column;
	}
	
	.header__icon {
		left: 50%;
	}
}

/*Main*/
.main {
    margin: 80px 0 0 0;
}

.quote {
    padding: 10px;
    text-align: center;
    background-color:#d5d6f7;
    border: 1px dashed black;
}

.quote span {
    font-size: 16px;
}

.image {
	align-self: center;
	padding: 15px;
}

.image img {
	width: 100%;
	border: 5px solid #485173;
}

.main-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
    padding: 20px;
}

.main-text p {
	margin: 0 0 5px 0;
	border-bottom: 1px dotted black;
}

@media (max-width: 767px) {
	.quote {
		padding: 6px;
		font-size: 16;
	}
}

@media (max-width: 767px) {
	.main {
		margin: 100px 0 0 0;
	}
}

/*Preparation*/
.preparation {
    margin: 70px 0 0 0;
}

.preparation__wrapper {
    display: flex;
    background-color: #a190a2;
}

.preparation__image {
    order: 2;
}

.preparation__text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    order: 1;
	width: 100%;	
    padding: 20px;
    background-color: #d5d6f7;
}

.preparation__important {
    padding: 5px;
    font-size: 18px;
    background-color:  #a190a2;
    border-radius: 20px;
}

.preparation__list {
    margin: 10px 0 10px 50px;
}

.preparation__item{
    margin: 10px 0;
}

.preparation__classification {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 0 0;
    background-color:  #d5d6f7;
}

.classification {
	display: flex;
	align-items: center;
}

.classification__list {
    margin: 10px 0 10px 80px;
}

.classification__item {
    margin: 25px 0;
}

.classification__table {
    border: 1px solid black;
    border-collapse: collapse;
}

.classification__table-title {
    font-weight: bold;
    background-color: #C1EBB2;
    border: 1px dashed black;
}

.classification__table th {
    border: 1px solid black;
}

.classification__table td {
    padding: 5px;
    border: 1px solid black;
}

.classification__table tr:nth-child(odd) {
    background-color:#BED7EB;
}

.classification__table tr:nth-child(even) {
    background-color:#EBD4B2;
}

.classification__table tr:first-child {
    background-color:#D5BEEB;
}

@media (max-width: 991px) {
	.preparation__wrapper {
		flex-direction: column;
	}
	
	.preparation__image {
    order: 1;
	}

	.preparation__text {
		order: 2;
		width: 100%;	
	}
}

@media (max-width: 767px) {
	.classification {
		flex-direction: column;
	}
}

/*Begin*/
.begin__harversting {
	display: flex;
	background-color: #b0b865;
}

.begin__harversting-image {
    order: 1;
}

.begin__harversting-text {
    order: 2;
    background-color: #d5d6f7;
}

.begin__getting-juice {
	display: flex;
	background-color: #b0b865;
}

.begin__getting-juice-image {
    order: 2;
}

.begin__getting-juice-text {
    order: 1;
    background-color: #d5d6f7;
}

.begin__add-sugar {
    background-color: #d5d6f7;
}

@media (max-width: 991px) {
	.begin__harversting {
		flex-direction: column;
	}

	.begin__getting-juice {
		flex-direction: column;
	}

	.begin__getting-juice-image {
		order: 1;
	}

	.begin__getting-juice-text {
		order: 2;
	}
}

/*End*/
.end__sediment-removal {
	display: flex;
	background-color: #5e984c;
}

.end__sediment-removal-image {
    order: 1;
}

.end__sediment-removal-text {
    order: 2;
    background-color: #d5d6f7;
}

.end__quiet-fermentation {
    background-color: #d5d6f7;
}

.end__storage {
	display: flex;
	background-color: #5e984c;
}

.end__storage-image {
    order: 2;
}

.end__storage-text {
    order: 1;
    background-color: #d5d6f7;
}

@media (max-width: 991px) {
	.end__sediment-removal {
		flex-direction: column;
	}

	.end__storage {
		flex-direction: column;
	}

	.end__storage-image {
		order: 1;
	}

	.end__storage-text {
		order: 2;
	}
}

/*Footer*/
.footer {
	margin: 80px 0 0 0;
}

.footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #F5F5FF;
	border: 2px solid black;
	border-bottom: none;
	border-radius: 10px 10px 0 0;
}

.footer__video,
.footer__questions,
.footer__audio {
	width: 30%;
}

.video {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.footer__questions-list {
	margin: 5px;
	list-style: none;
}

.footer__questions-link {
	text-decoration: none;
	border-radius: 10px;
	transition: background-color .3s ease;
}

.footer__questions-link:hover {
	background-color: #d5d6f7;
}

.footer__audio {
	text-align: center;
	background-color: #F7F1D5;
	border-radius: 20px;
}

@media (max-width: 991px) {
	.footer .container {
		flex-direction: column;
	}
	
	.footer__video {
		width: 60%;
	}
	
	.footer__questions,
	.footer__audio {
		width: 100%;
		text-align: center;
	}
	
	.footer__questions {
		margin: 20px 0;
	}
}

@media (max-width: 575px) {
	.footer__audio audio {
		max-width: 250px;
	}
}

/*дальное окно*/
.not-active {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 5;
	background-color: rgba(0, 0, 0, .3);
}

.modal-container {
	position: fixed;
	top: 15%;
	z-index: 6;
	max-width: 600px;
	margin: auto;
}

.image__list {
	display: flex;
	justify-content: center;
	
	margin: 750px 0 0 0;
	list-style: none;
}

.image__wrapper {
	max-width: 300px;
	
}

.image {
	width: 100%;
	
}

.image-big__wrapper {
	position: relative;
	width: 100%;
	border: 5px solid black;
}

.image-big {
	width: 100%;
	margin: 0 auto;
}

.close-btn {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	width: 50px;
	height: 50px;
	font-size: 30px;
	color: white;
	background-color: rgba(0, 0, 0, .5);
	border: 2px gray solid;
	border-radius: 50%;
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 30px 10px;
}

.popup__content {
  position: relative;
  max-width: 800px;
}

.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 8px;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  background-color: #995D6B;
  border: 3px solid #9885b2;
  border-radius: 0 10px 0 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.popup__close:hover {
  background-color: #B36D7D;
}

.popup__image-wrapper {
	display: flex;
	flex-direction: column;
}

.popup__image-wrapper img {
  max-width: 100%;
  max-height: 600px;
  border: 3px solid #9885b2;
  border-radius: 10px;
  -webkit-box-shadow: 8px 8px 20px black;
          box-shadow: 8px 8px 20px black;
}

.popup__text {
	width: 300px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	background-color: rgba(255, 255, 255, .3);
	border: 1px dashed #fff;
	border-radius: 20px;
}

@media (max-height: 600px) and (orientation: landscape) {
	.popup__image-wrapper img {
		max-height: 280px;
	}
}

.alert-message {
	position: absolute;
	top: 150%;
	left: 40%;
	padding: 10px;
	color: red;
	font-size: 30px;
	text-shadow: 0 0 3px black;
	text-align: center;
	background-color: rgba(255, 255, 255, .8);
	border: 1px solid black;
	border-radius: 10px;
}